/* PathBar */

pathbar {
    min-height: 36px;
}

.pathbar-crumb {
    padding: 2px 6px;
    min-height: 0;
    border-radius: 6px;
    color: alpha(currentColor, 0.7);
}

.pathbar-crumb:hover {
    color: currentColor;
}

.pathbar-crumb.pathbar-crumb-active {
    color: currentColor;
    font-weight: bold;
}

.pathbar-crumb image {
    color: alpha(currentColor, 0.7);
}

.pathbar-crumb:hover image {
    color: currentColor;
}

.pathbar-sep {
    color: alpha(currentColor, 0.35);
    margin: 0 1px;
    font-size: 0.9em;
}

.pathbar-entry {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0 6px;
}
